
.forgotpassword{
    display:flex;
    flex-direction: column;
}

.unlisted-assests-logo-header{
    margin-top: 11px;
    margin-left: 32px;
    margin-bottom: 11px;
    width: 200px;
    height: 42px;
}

.back-button {
    width: 90px;
    margin: 15px 0 0 35px;
}
.forgotpassword .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
}

.forgotpassword form{
    width: 400px;
    margin-top: 10px;
    gap: 10px;
}
.forgotpassword .content-text{
    text-align: center;
    width: 250px;
    font-size: 12px;
}

.forgotpassword .content-text .heading{
    font-size: 16px;
    font-weight: 700;
}

input {
    height: 30px;
    margin-top: 10px;
}


@media only screen and (max-width: 600px) {
   .forgotpassword form{
    width: 100%;
    margin-top: 10px;
    gap: 10px;
  }
  .login_Page_contents {
    padding: 100px 35px 90px 35px !important;
}
}