/* .container{
    display: flex;
    min-height: calc(100vh - 100px); 
    align-items: center;
    justify-content: space-evenly;
} */

.header{
    margin-bottom: 50px;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #EAEAEA;
}
.header .heading_logo{
    height: 40px;
    margin-left: 10px;
    margin-top: 15px;
}
.left-half {
    background: #fff !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #EAEAEA;
}
.left-half p{
    font-size: 16px;
    line-height: 20px;
    color: #2E384D;
}

.right-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-half form {
    display: flex;
    flex-direction: column;
    width: 360px;
}

.left-half form input {
    margin-top: 15px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #CFCBCF;
    box-sizing: border-box;
    border-radius: 2px;
}

form label {
    margin-top: 25px;
    font-size: 16px;
    line-height: 20px;
    color: #2E384D;
}

form .submit-button {
    border-color: #721B65;
    background: #721B65;
    margin-top: 25px;
    height: 30px;
    color: white;
}

.logo{
    width: 415px;
    height: 220px;
}