
.secondary-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-align: center;
    border: 1px solid #721B65;
    box-sizing: border-box;
    border-radius: 4px;
    color: #721B65;
    background-color: white;
    cursor: pointer;
    font-weight: 600;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.primary-button{
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-align: center;
    border: 1px solid #721B65;
    box-sizing: border-box;
    border-radius: 4px;
    color: #fff;
    background-color: #721B65;
    cursor: pointer;
    font-weight: 600;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}