.MuiStepLabel-label.MuiStepLabel-active {
  color: rgb(114 28 101) !important;
}
span.text-primary-color {
  color: #721c65;
}
.text-small-profile {
  font-size: 11px !important;
}
span.MuiStepLabel-labelContainer {
  position: relative;
}
img.GreenCheck-icon {
  position: absolute;
  left: 45%;
  top: -10px;
  z-index: 999;
}
img.GreenCheck-icon-mobile {
  position: absolute;
  left: 40%;
  top: -10px;
  z-index: 999;
}
#jorney-sec .MuiPaper-root.MuiStepper-root.MuiStepper-horizontal.MuiStepper-alternativeLabel.MuiPaper-elevation0 {
  background-color: #ffffff !important;
  padding: 0 !important;
}
#jorney-sec svg.MuiSvgIcon-root {
  width: 25px;
  height: 25px;
}
.JourneyMobileStepActive .MuiStepConnector-alternativeLabel {
  top: 18px !important;
  left: calc(-50% + 8px);
  right: calc(50% + 8px);
  position: absolute;
}