.footer-section ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.footer-section {
  background: #0D223C;
  position: relative;
}
.footer-content {
  position: relative;
  z-index: 2; 
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon{
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.footer-social-icon .icon{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border: 1px solid;
  border-radius: 50%;

}


.footer-widget-heading h3 { 

    font-weight: bold;
    font-size: 13.5px;
    line-height: 100%;
    letter-spacing: 0.035em;
    color: #FFFFFF;
    margin-bottom: 40px;
    position: relative;
}


.footer-widget ul li {
    margin-bottom: 10px;

  /* display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px; */
}
/* .footer-widget ul li a:hover{
  color: #721B65;
} */
.footer-widget ul li a {
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
    width: 62%;
    padding: 18px 10px;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    border: none;
    font-size: 12px;
    margin-bottom: 15px;
}
.subscribe-form .secondary-button {
    width: 31%;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
@media screen and (max-width: 600px) {
  
  .footer-logo ,.footer-text{
    display: flex;
    justify-content: center;
    }
    .footer-social-icon{
      display: flex;
      justify-content: space-around;
    }
    .footer-section {
      background: #0D223C;
      position: relative;
      padding: 0px 15px;
    }
    .footer-widget-heading h3 { 

      font-weight: bold;
      font-size: 13.5px;
      line-height: 100%;
      letter-spacing: 0.035em;
      color: #FFFFFF;
      margin-bottom: 15px;
      margin-top: 15px;
      position: relative;
  }
  /* .footer-widget ul li {
    text-align: center;
} */
  .subscribe-form input {
    width: 100%;
  }
  .subscribe-form .secondary-button {
    width: 100%;
  }
  }


  /* .subscribe-form form input {
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #CFCBCF;
    box-sizing: border-box;
    border-radius: 2px;
} */

