.reset_password_container{
    width: 100%;
justify-content: center;

}

.reset_password_main-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.reset_password_main-image {
    width: 250px;
    height: 100px !important ;
    
}
.change-password-div{
    border-right: 1px solid rgb(206, 195, 195);
}



.form_conainer {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    position: relative;
}
.reset_password_unlisted-assests-logo-header{
    margin-top: 11px;
    margin-left: 32px;
    margin-bottom: 11px;
    width: 200px;
    height: 42px;
}

.reset_password_mobile-verification{
    padding: 3rem;
}

.reset_password_mobile-verification .reset_password_main-content .reset_password_main-image {
    width: 90px;
    height: 120px;
}

.reset_password_card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #CFCBCF;
    border-radius: 10px;
    padding: 45px;
}
.reset_password_eyeimg_oldpass{
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: 1;
    right: 33px;
    top: 100px;

}

.reset_password_eyeimg_newpass{
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: 1;
    right: 33px;
    top: 168px;
}
.reset_password_eyeimg_confirmpass{
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: 1;
    right: 33px;
    top: 235px;
}

.reset_password_logo {
    height: 30px;
    width: 130px;
}

.reset_password_contents {
    min-width: 300px;
}

.reset_password_container .reset_password_form .reset_password_input {
    margin-top: 2%;
    height: 30px;
    border-radius: 4px;
}

.reset_password_container .reset_password_form .reset_password_input[type="text"],
.reset_password_container .reset_password_form .reset_password_input[type="password"] {
    border: 1px solid #CFCBCF;
    box-sizing: border-box;
}

.reset_password_container .reset_password_form label {
    margin-top: 2%;
    font-size: 14px;
}

.reset_password_container .reset_password_form .submit-button {
    border-color: #721B65;
    background: #721B65;
    margin-top: 25px;
    height: 30px;
    color: white;
    margin-bottom: 19px;
}
.reset_password_container .reset_password_form .cancel-button {
    border-color: #721B65;
    background: #fff;
    margin-top: 25px;
    height: 30px;
    color: #721B65;
    margin-bottom: 19px;
}
.reset_password_container .reset_password_form .disabled-button {
    border-color: #CFCBCF;
    background: #fff;
    margin-top: 25px;
    height: 30px;
    color: #CFCBCF;
    margin-bottom: 19px;
}

.reset_password_forgot-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.reset_password_forgot-actions .reset_password_validation-item-p {
    font-size: 14px ;
    color: #2E384D;
}
.reset_password_validation-item-p{
    font-size: 11px !important;    
}
.reset_password_validation-item-img{

}

.reset_password_vertical-line {
    margin-top: 6%;
    margin-bottom: 6%;
    border-left: 1px solid #B0BAC9;
}



.reset_password_horizontal-line {
    margin: 0 35% 0 35%;
    border-top: 1px solid #B0BAC9;
}

.reset_password_validation-item {
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reset_password_validation-item img {
    width: 12px;
    height: 12px;
}

.reset_password_validation-item .reset_password_validation-item-p {
    margin: 0 0 0 0;
    margin-left: 10px;
    font-size: 14px;
}


.reset_password_header{
    width: 100%;
}
.reset_password_eyeimg_Password{
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: 1;
    right: 13px;
    top: 42px;
}
.reset_password_eyeimg_ConfirmPassword {
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: 1;
    right: 13px;
    top: 212px;
}
@media only screen and (max-width: 600px) {
    .reset_password_card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #CFCBCF;
        border-radius: 10px;
        padding: 10px;
    }
   
    .reset_password_eyeimg_newpass{
        top: 162px;
    }
    .reset_password_eyeimg_confirmpass{
        top: 228px;
    }
  }





