.mobile-verification .mobile-verification_main-content {
  height: 450px;
  text-align: center;
  padding: 30px 70px;
  width: 500px;
}
.mobile-verification_main-content {
  height: 500px;
  text-align: center;
  padding: 50px 70px;
  width: 500px;
}
.unlisted-assests-logo-header{
  margin-top: 5px;
  margin-left: 32px;
  margin-bottom: 0px;
  width: 200px;
  height: 42px;
}

.horizontal-line {
  margin: 0;
}

.mobile-verification .back-button {
  width: 70px;
  margin-left: 32px;
  margin-top: 20px;
}

.mobile-verification .mobile-verification_main-content .mobile-verification_main-image {
  width: 50px;
  height: 70px;
  margin-top:0px ;
}

.mobile-verification .mobile-verification_main-content .mobile-verification_description{
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

.mobile-verification .mobile-verification_otp-boxes-group {
  flex-direction: row;
}

.mobile-verification .mobile-verification_otp-boxes-group input {
  height: 50px;
  width: 50px;
  margin: 0px 5px;
  text-align: center;
  border-radius: 4px;
  border-color: #CFCBCF;
}

.text-primary {
  color: #721a65!important;
}
.mobile-verification_submit-button {
  border-color: #721B65;
  background: #721B65;
  margin-top: 25px;
  height: 35px;
  color: white;
  width: 100%;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
}

.mobile-verification_submit-container {
  margin: 0 2% 0 2%;
}

.mobile-verification_post-script-container p a {
  text-decoration: underline;
  font-weight: 700;
  color: #721B65;
}

.mobile-verification_post-script-container p {
  font-size: 12px;
}

.mobile-verification_heading {
  font-size: 22px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 0;
}
.text-small{
font-size: 13px !important;
}

@media only screen and ( max-width:600px ) {
  .mobile-verification .mobile-verification_main-content {
    height: 100%;
    text-align: center;
    padding: 25px 20px;
    width: 100%;
  }

}

